parameters:
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - ./src/

    excludePaths:
#      - 'src/Resources/skeleton'
#      - */cache/*
       analyse:

    ignoreErrors:
        -
            message: '#.*NodeDefinition::children.*#'
            path: ./src/*Bundle.php
